@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,300&display=swap');
.home-page {
  margin: 0%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media screen and (max-width:  650px) {
    display: grid;
    grid-template-columns: 1fr;
  }
  //do Smth

  .icon {
    animation: slideInRight 2s;
    display: grid;
    grid-template-columns: 1fr;

    grid-gap: 0.2em;
    .egitmen {
      color: rgb(0, 0, 0);
      letter-spacing: 1.5px;
      font-family: 'Lobster', cursive;
      font-size: 22px;
      font-weight: 100;
      letter-spacing: 2.5px;
      margin-top: 10%;
      @media screen and (max-width: 650px) {
        margin-top: 2%;
        margin-left: 5%;
        font-size: 15px;
      }
    }
    .e-a {
      @media screen and (max-width: 650px) {
        margin-top: 5%;
      }
      display: flex;
      justify-content: center;
      margin: 0%;
      padding: 0%;
    }
    h3 {
      color: rgb(0, 0, 0);
      font-size: 35px;
      animation: fadeIn 2s;
      transform: rotate(5deg);
      opacity: 0.5;
      font-family: 'Lobster', cursive;
    }
    .elif {
      @media screen and (max-width: 570px) {
        margin-left: 5%;
        font-size: 35px;
      }
      font-size: 50px;
      font-family: 'Exo 2', sans-serif;
      color: rgb(0, 0, 0);
    }
  }
  .btn-div {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    .flat-button {
      font-family: 'Exo 2', sans-serif;
      font-size: 17px;
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      font-weight: 1000;
      text-decoration: none;
      padding: 1%;
      animation: heartBeat 2s infinite;
      border-radius: 15%;
      border: 2px;
      border-style: solid;
      border-color: rgb(0, 0, 0);
      &:hover {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        animation: none;
      }
    }
  }
}

.end1 {
  margin-top: 15%;
  .soclais {
    display: flex;
    @media screen and (max-width:  650px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0%;
    }
    .left {
      @media screen and (max-width:  650px) {
      }
    }
    .right {
      @media screen and (max-width:  650px) {
      }
    }
  }
  .fa {
    @media screen and (max-width:  650px) {
      margin: 0%;
    }
  }
  h4 {
    font-size: 28px;
    opacity: 0.8;
    color: rgb(0, 0, 0);
    font-family: 'Lobster', cursive;
  }
  h1 {
    color: black;

    a {
      background-color: black;
      color: white;
    }
  }
  .fa-facebook {
    &:hover {
      background-color: rgb(2, 76, 247);
    }
  }
  .fa-twitter {
    &:hover {
      background-color: rgb(32, 93, 235);
    }
  }
  .fa-google {
    &:hover {
      color: rgb(32, 93, 235);
      background-color: rgb(171, 171, 171);
    }
  }
  .fa-instagram {
    &:hover {
      color: purple;
      background-color: rgb(171, 171, 171);
    }
  }
}

@keyframes hoverA {
  from {
    font-size: 25px;
  }

  to {
    font-size: 36px;
  }
}
